.image{
    width:350px ;
    height:250px;
}
.header{
    color: #ed820e;
    font-family:Arial, Helvetica, sans-serif
}
.subhead{
    color:#960808;
 
    font-family: Arial, Helvetica, sans-serif;
}